node_modules/**/*
.expo/*
.expo-shared/*
a/*
_lib/*
components/NotUsed/*
other/*
navigation/MainNavigator.js
pages/FindServicePointsScreen__copy.js
pages/FindServicePointsScreen_copy.js
pages/FindServicePointsScreen_geohash.js
pages/HomepageScreen_valid_components.js
pages/HomepageScreen_valid_long.js
pages/ImageUploadScreen__copy.js
pages/ImageUploadScreen_copy.js
pages/ImageUploadScreen2.js
pages/LoginScreen__copy.js
pages/LoginScreen_copy.js
firestore/FirestoreService1.js
firestore/FirestoreConfig.backup.js
/App2.js
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
